<!DOCTYPE html>
html(lang="en")
    include templates/_head.pug
    body
        .background__banner
        .clouds
        include templates/_header.pug
        include templates/_featured-banner.pug
        include templates/_about.pug
        include templates/_footer.pug