section#about
    .about__content
        h3 I am
        p a 
            span full stack
            |, freelance 
            span web developer 
            | for past 
            span 4 years
            |, with 
            span marketing experience 
            | of more than 
            span 6 years
            |. This equips me to be the perfect choice for the companies who are trying to establish their brand presence online.
            br
            br 
            | I am an enthusiast, avid reader, passionate traveller & cinephile / movie buff.
        img(src="https://talking-tech.github.io/amazing-portfolio/assets/img/tarak.png" , width="200px" )
