section#intro
    .featured__content
        p
            | Gained 
            span experience
            |  of 
            br
            | more than 
            span 10 years
            | , Working with startups 
            br
            | to
            |               improve their 
            span brand positioning
            br
            | by contributing as a
            | {
            span#roles Web Developer
            |}