header.header
    .header__container
        nav.header__navigation
            input(type="checkbox", id="check")
            label(for="check")
                i.fa.fa-bars#btn
                i.fa.fa-times#cancel
            a.logo(href="")
                span @ 
                |tarak_b_patel
            ul.navigation__list#nav_list
                li.navigation__items
                    a.navigation__links(href="#about") About
                li.navigation__items
                    a.navigation__links(href="#") Gallery
                li.navigation__items
                    a.navigation__links(href="#") Projects
                li.navigation__items
                    a.navigation__links(href="#") Contact
.socials
    a(href='https://www.facebook.com/tarakbpatel' target='blank')
        i.fa.fa-facebook
    a(href='https://github.com/talking-tech' target='blank')
        i.fa.fa-github
    a(href='https://twitter.com/tarakbpatel' target='blank')
        i.fa.fa-twitter
    a(href='https://in.linkedin.com/in/tarakbpatel' target='blank')
        i.fa.fa-linkedin
    a(href='skype:tarakbpatel' target='blank')
        i.fa.fa-skype

